#Ignorar o diretorio node modules
/node_modules

#Ignorar dados sensiveis
.DS_Store
/cypress/fixtures/sensitive-data/*.json
/cypress/screenshots
/cypress/videos
/cypress/downloads
/cypress/cypress.env.json